@font-face {
  font-family: 'Gotham-Black';
  src: url('/fonts/Gotham-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GeistMono';
  src: url('/fonts/GeistMonoNerdFont-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}